node_modules/
*.swp
for-reference-only/
.DS_Store
tutorials/output/
backups/
scripts/initmisc.js
.vscode/extensions.json
scripts/initproofs.js
src/experimental/parsers/ascimathref.js
scripts/initproofs.js
src/experimental/initproofs.js
